<main class="form-signin text-center shadow-lg p-3">
  <form id="formLogin" action="http://localhost:3030/login" method="post"> 
 <div>
<h1>LOGIN</h1>       
 </div>   
    <div class="form-floating">
      <input type="text" class="form-control" id="user" name="user" placeholder="name@example.com">
      <label for="user">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
      <label for="pass">Contraseña</label>
    </div>
    <button class="btn btn-success" type="submit">Ingresar</button>  
    <a href="/registrar" type="button" class="btn btn-primary">Registrarse</a> 
    <div>
      <a href="/github" class="btn btn-warning git">Ingresar con Github</a>
    </div>
    {{#if sessionInfo.errorMessage }}
      <div class="alert alert-danger mt-4" role="alert">{{sessionInfo.errorMessage}}</div>
    {{/if}}
  </form>
</main> 



     


